* {
  box-sizing: border-box;
}

.instructions-title {
  color: #f2f2f2;
  font-size: 55px;
  text-align: center;
  position: relative;
  top: 90px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.card {
  height: 260px;
  text-align: left;
  margin-top: 50px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: 1.5;
  background-color: #00838F;
  color: #212121;
  font-weight: bold;
}
.row {
  margin-top: 40px;
  padding-top: 20px;
}

.card-1,
.card-2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.search-image {
  height: 30px;
  width: 30px;
  float: right;
  position: relative;
  bottom: 50px;
}

.plus-image {
  height: 35px;
  width: 35px;
  float: right;
  position: relative;
  bottom: 50px;
}

@media screen and (max-width: 460px) {

  .instructions-container {
    flex-direction: column;
    min-height: auto;
  }


  .instructions-title {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 768px) {
  .instructions-title {
    font-size: 48px;
  }

}



