* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.box {
  height: 350px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #212121;
  line-height: 1.2;
  border: 2px solid black;
}

.about {
  background-color: #00838F;
}

.how-to {
  background-color: #00838F;
}

.get-started {
  background-color: #00838F;
}

.title {
  text-align: center;
  margin-top: 10px;
  font-size: 70px;
  font-weight: bold;
  /*color: #00838F;*/
  color: #f2f2f2;
  text-shadow: 2px 2px black;
}

.row {
  padding-bottom: 50px;
  margin-top: 40px;
  padding-top: 20px;
}

.card-content {
  padding-top: 14px;
  text-align: center;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

.card-content-2 {
  text-align: center;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
}

.card-content-3 {
  text-align: center;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

.card-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

.about-image {
  height: 50px;
  width: 50px;
  margin-top: 13px;
}

.how-to-image {
  height: 65px;
  width: 65px;
  margin-top: 5px;
}

.start-image {
  height: 65px;
  width: 65px;
  margin-top: 13px;
}


@media screen and (max-width: 460px) {

  .display-container {
    flex-direction: column;
    min-height: auto;
  }


  .title {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 768px) {

  .title {
    font-size: 60px;
  }

  .card-title {
    font-size: 25px;
    font-weight: bold;
  }

}