* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.experience-container {
  position: relative;
  top: 120px;
  text-align: left;
  line-height: 1.5em;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  color: #212121;
  font-weight: bold;
}

.marker-icon {
  height: 70px;
  width: 70px;
  float: right;
  position: relative;
  bottom: 25px;
}