* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.github-icon,
.linkedin-icon {
  height: 30px;
  width: 30px;
  margin: 20px;
  position: relative;
  bottom: 20px;
}

.email-icon {
  height: 35px;
  width: 35px;
  margin: 20px;
  position: relative;
  bottom: 17px;
}

.footer-content {
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
  position: relative;
  bottom: 20px;
}

.node-icon {
  height: 62px;
  width: 62px;
}

.react-icon {
  height: 40px;
  width: 40px;
  position: relative;
  bottom: 11px;
}

.footer-content span {
  position: relative;
  bottom: 23px;
  margin-right: 10px;
}

.icons {
  color: black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 15px;
}

@media screen and (max-width: 460px) {

  .footer-content {
    font-size: 16px;
  }

  .node-icon {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 5px;
  }

  .react-icon {
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 15px;
  }
}