* {
  box-sizing: border-box;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  font-size: 100px;
  color: #f2f2f2;
  padding-top: 200px;
  font-weight: bold;
}

.sub-header {
  text-align: center;
  color: #f2f2f2;
  margin-top: 20px;
  font-size: 20px;
}

@media screen and (max-width: 460px) {

  .container {
    flex-direction: column;
    min-height: auto;
  }

  .sub-header {
      font-size: 16px !important;
  }


  .header {
    font-size: 48px !important;
  }
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 60px;
  }

  .sub-header {
      font-size: 18px;
  }

}